<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="LiquidCert.it">
      <meta name="author" content="">
      <link rel="icon" href="">
      <title>ANSIACHECK</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
      <link href="/static/fontawesome/css/all.css" rel="stylesheet">
      <link href="/static/ansiacheck.css" rel="stylesheet">
   </head>
   <body>
     <nav class="navbar navbar-inverse" style="background-color: #303030;">
       <div class="container-fluid">
         <div class="navbar-header">
            <img style="max-width:60%; padding: 2px" src="/static/logo.png">
         </div>
         <ul class="nav navbar-nav">
           <li><a>ANSIACheck</a></li>
           <li><a href="/">Home</a></li>
           <li class="active"><a href="/about">Credits</a></li>
         </ul>
       </div>
      </nav>

      <div class="container-fluid">
         <div id="sl">
            <br/><br/>
            <div class="well" style="background-color: #303030; color: #ffffff">
              <h3>Credits</h3>
              <p><a href="https://twitter.com/tulipan81" target="_blank">Valerio</a> made in 3 hours.</p>
              <hr>
              <h3>Contacts</h3>
            </div>
         </div>
      </div>
      </div>
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
      <script type="text/javascript" src="/static/jdenticon.min.js"></script>
   </body>
</html>
